<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AmsDomain" value="mydomain.co.nz"/>
    <add key="DssDomainPath" value="LDAP://DC=mydomain,DC=co,DC=nz" />
    <add key="UsernameToFind" value="kelvinp"/>
  </appSettings>
</configuration>